.sidebar-nav {
    margin-top: 15px;
    padding: 0;
    list-style: none;
}

.site-icon {
    margin-top: 10px;
    width: 65px;
    height: 65px;
}

.question {
    margin-top: 10px;
}

.comment {
    margin: 20px 0px 20px 20px;
}