{% extends "base_generic.html" %}
{% block content %}

    <h1>Создание нового ответа на вопрос</h1>
    <form action="" method="post">
        {% csrf_token %}
        <table>
        {{ form }}
        </table>
        <input type="submit" value="Добавить" />
    </form>

{% endblock %}