{% extends "base_generic.html" %}

{% block content %}
<h1>Сайт взаимодействия технической поддержки и разработчиков</h1>

<p>На сайте представлено следующее количество записей:</p>
<ul>
    <li><strong>Вопросы: </strong> {{ num_questions }} </li>
    <li><strong>Ответы на вопросы: </strong> {{ num_questions_answers }}</li>
</ul>



{% endblock %}