{% extends "base_generic.html" %}

{% block content %}
    <h1>Список вопросов</h1>

    {% if user.is_authenticated %}
    <a href="{% url 'create-question' %}">Создать новый вопрос</a><br>
    {% endif %}
    <form action="{% url 'search-result' %}" method="get">
        <input name="q" type="text" placeholder="Поиск..">
        <input type="submit" value="Поиск" />
    </form>
    <hr>
    {% if question_list %}
    <ul>

      {% for question in question_list %}
      <li>
          {{ question.category }}  |
          <a href="{{ question.get_absolute_url }}">{{ question.questionText }}</a>
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>Отстуствуют вопросы.</p>
    {% endif %}
{% endblock %}