{% extends "base_generic.html" %}

{% block content %}
    <div class="question">
    <p><strong>Текст вопроса:</strong> {{ question.questionText }}</p>
        {% if user.is_authenticated %}
        <a href="{% url 'create-answer' question.pk %}">Добавить ответ</a>
        {% endif %}
    <hr>
          <div data-gb-custom-block data-tag="for"></div>
        {% if comment_list %}
        {% for comment in comment_list %}
            <div class="comment">
                <strong>{{ comment.author.user.username }}</strong>
                <p>{{ comment.commentText|linebreaks }}</p>
            </div>
        {% endfor %}
        {% else %}
            <p>Отсутствуют комментарии</p>
        {% endif %}
        {% if user.is_authenticated %}
        <a href="{% url 'create-comment' question.pk %}">Добавить комментарий</a>
        {% endif %}
    </form>
    </div>


{% endblock %}