{% extends "base_generic.html" %}

{% block content %}
    <h1>Ответы на распространенные вопросы (FAQ)</h1>
    {% if question_answer_list %}
    {% for question_ans in question_answer_list %}
    <div class="question">
        <a href=" {{ question_ans.question.get_absolute_url }}">{{ question_ans.question.questionText }}</a>
        <p>{{ question_ans.answerText }}</p>
        <hr>
    </div>
    {% endfor %}
    {% else %}
    <p>Отсутствуют часто задаваемые вопросы</p>
    {% endif %}


{% endblock %}