{% extends "base_generic.html" %}

{% block content %}

{% if form.errors %}
  <p>Неправильный логин или пароль. Попробуйте другой</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>У вас не хватает прав. Попробуйте залогиниться с другого аккаунта.</p>
  {% else %}
    <p>Залогиньтесь, чтобы видеть эту страницу.</p>
  {% endif %}
{% endif %}

<form class="login" method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>

<tr>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</tr>

<tr>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="Войти" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>

{% endblock %}